body  { color: #000000; font-size: 14px; font-family: "Times New Roman", Arial, Verdana, sans-serif }
font.VersetArabe    { color: #000000; font-size: 25px; font-family: "Traditional Arabic", "Simplified Arabic" }
font.Commentaire { color: #000000; font-size: 14px; font-family: "Times New Roman", Arial, Verdana, sans-serif }